header
    .top-header  
        .container 
            .box-left-top-header 
                .box-social 
                    a(href="#")
                        img(src="./assets/images/icons/fb.svg", alt="#")
                    a(href="#")
                        img(src="./assets/images/icons/twitter.svg", alt="#")
                    a(href="#")
                        img(src="./assets/images/icons/pinter.svg", alt="#")
                    a(href="#")
                        img(src="./assets/images/icons/instargram.svg", alt="#")
                    p Need Help? call: 0900 800 900
            .box-right-top-header 
                .box-seach 
                    a(href="#")
                        img(src="./assets/images/icons/seach.svg", alt="#")
                ul.login
                    li
                        a(href="#") LOGIN 
                    li
                        a(href="#") INFO 
                ul.customer
                    li
                        a(href="#") CUSTOMER SUPPORT 
                    li
                        a(href="#") SHIPPING & DELIVERY
    .menu
        .container
            .box-menu
                .logo
                    img(src="./assets/images/logo.png", alt="#")    
                .nav  
                    ul
                        li
                            a(href="#") HOME
                        li
                            a(href="#") ABOUT
                        li
                            a(href="#") SHOP
                        li
                            a(href="#") BLOG
                        li
                            a(href="#") CONTACT      
                    .box-promo
                        span PROMOTIONS 
                    .cart
                        img(src="./assets/images/icons/shopping_bag.svg", alt="#")
                        .span 
                            span 0
