ul.pagination
	li.pagination-prev
		a(href="#")
			span <
	li
		a(href="#") 1
	li.active
		a(href="#") 2
	li
		a(href="#") 3
	li
		a(href="#") 4
	li.pagination-dot
		a(href="#") ...
	li
		a(href="#") 98
	li.pagination-next
		a(href="#")
			span >