.google-map
	select
		option(value='inputLocations_1') Bản Đồ Nội Địa
		option(value='inputLocations_2') Bản Đồ Ngoại Địa
	#map
block scripts
	script.
		var locationsObject = {
			inputLocations_1 : [
				{
					lat: 10.807100,
					lng: 106.661638,
					name: 'Ho Chi Minh Headoffice',
					icon: "./assets/images/icons/gmap.svg",
					address: 'Floor 4, Thang Long Building, 29 Thang Long St., Ward 4,  Tan Binh Dist., HCMC, Vietnam.',
					hotLine: '(+84) 903 910 430 - Mr.Linh',
					phone: '(84.28) 3848 7858',
					fax: '(84.28) 3848 7858',
					email: 'npv-saleadmin@npvexpress.com',
					website: 'www.npvexpress.com',
					optimized: false
				},
				{
					lat: 11.328765,
					lng: 106.476674,
					name: 'Binh Duong Branch',
					icon: "./assets/images/icons/gmap.svg",
					address: '9b/5g Binh Dang Hamlet, Binh Hoa Village, Thuan An Dist Binh Duong',
					hotLine: '(+84) 903 910 430 - Mr.Linh',
					phone: '(84.28) 3848 7858',
					fax: '(84.28) 3848 7858',
					email: 'npv-saleadmin@npvexpress.com',
					website: 'www.npvexpress.com',
					optimized: false
				}
			],
			inputLocations_2 : [
				{
					lat: 11.328765,
					lng: 106.476674,
					name: 'Binh Duong Branch',
					icon: "./img/icons/gmap.svg",
					address: '9b/5g Binh Dang Hamlet, Binh Hoa Village, Thuan An Dist Binh Duong',
					hotLine: '(+84) 903 910 430 - Mr.Linh',
					phone: '(84.28) 3848 7858',
					fax: '(84.28) 3848 7858',
					email: 'npv-saleadmin@npvexpress.com',
					website: 'www.npvexpress.com',
					optimized: false
				},
			]
		}
