.index-1
    .slider-home
        .swiper-container
            .swiper-wrapper
                -for(i=1;i<=2;i++)
                    .swiper-slide
                        figure
                            img(src="./assets/images/banner/"+i+".jpg", alt="#")
                            figcaption 
                                h3 FITS PERFECT WITH YOUR SUIT
                                p Check out the new collection of Luxury Watches
                                .buttom-slider  
                                    a(href="#") shop now
            